#top .flex_column.av-ba3rj-aaeb74d115e9888f60250937131e75ca{
margin-top:-25px;
margin-bottom:0px;
}
.flex_column.av-ba3rj-aaeb74d115e9888f60250937131e75ca{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}
.responsive #top #wrap_all .flex_column.av-ba3rj-aaeb74d115e9888f60250937131e75ca{
margin-top:-25px;
margin-bottom:0px;
}

.av_promobox.av-2wbz-96b549d26e9290cb4e649492c18bff22{
color:#474747;
background:#e8e8e8;
border-color:#aaaaaa;
}

#top .hr.av-nmfd-d862f91f6fe3a92e3964195d10802c51{
margin-top:0px;
margin-bottom:6px;
}
.hr.av-nmfd-d862f91f6fe3a92e3964195d10802c51 .hr-inner{
width:100%;
border-color:#9e9e9e;
max-width:45%;
}
.hr.av-nmfd-d862f91f6fe3a92e3964195d10802c51 .av-seperator-icon{
color:#9e9e9e;
}

.avia-image-container.av-knyors1y-953f93ab4f32402df290a29db87293bd .av-image-caption-overlay-center{
color:#ffffff;
}

#top .hr.av-yvkf-26dcadc414f75da6768038f0f7c2f539{
margin-top:0px;
margin-bottom:6px;
}
.hr.av-yvkf-26dcadc414f75da6768038f0f7c2f539 .hr-inner{
width:100%;
border-color:#9e9e9e;
max-width:45%;
}
.hr.av-yvkf-26dcadc414f75da6768038f0f7c2f539 .av-seperator-icon{
color:#9e9e9e;
}

