.iconbox.av-2p9k2-2ae418d71ed567a04197000354c4bd84 .iconbox_icon{
color:#ff9d00;
}
#top #wrap_all .iconbox.av-2p9k2-2ae418d71ed567a04197000354c4bd84 .iconbox_content_title{
color:#424242;
}
.iconbox.av-2p9k2-2ae418d71ed567a04197000354c4bd84 .iconbox_content_container{
color:#424242;
}

#top .flex_column_table.av-equal-height-column-flextable.av-2d54y-845b34d44a2375c14fd03b50e498952c{
margin-top:30px;
margin-bottom:0px;
}
.flex_column.av-2d54y-845b34d44a2375c14fd03b50e498952c{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

.avia-image-container.av-knyop6no-94065e35171f05f8e54b46cf512f241e .av-image-caption-overlay-center{
color:#ffffff;
}

#top .flex_column_table.av-equal-height-column-flextable.av-24lni-7054efe482c6e04927c8bc5e258355df{
margin-top:30px;
margin-bottom:0px;
}
.flex_column.av-24lni-7054efe482c6e04927c8bc5e258355df{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

